div#source-ids > div {
    padding: 0 1em;
    border: 1px solid #cccccc;
}

div#source-ids h4 {
    border-bottom: 1px solid #cccccc;
}

.valid pre {
    color: green;
}

.invalid pre {
    color: red;
}